<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Pokemon</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="pokemonForm">
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Pokemon Name</label>
        <input
          formControlName="name"
          class="form-control"
          id="exampleInputName"
          aria-describedby="emailHelp"
          placeholder="Pokemon Name"
          required
          minlength="4"
        />
        <div
          *ngIf="this.name.touched && this.name.invalid"
          class="alert alert-danger p-1 px-3 mt-2"
        >
          <div *ngIf="this.name.errors?.['required']">Name is required.</div>
          <div *ngIf="this.name.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="this.name.errors?.['pattern']">
            Name can not be number.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPowerId" class="form-label">Power Id</label>
        <input
          formControlName="powerId"
          class="form-control"
          id="exampleInputPowerId"
          placeholder="Pokemon Speciality"
          required
        />
        <div
          *ngIf="this.powerId.invalid && this.powerId.touched"
          class="alert alert-danger p-1 px-3 mt-2"
        >
          <div *ngIf="this.powerId.errors?.['required']">
            Power Id is required.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="this.closeModal(modal)"
    >
      Close
    </button>
    <div *ngIf="!this.name.invalid && !this.powerId.invalid; else elseBlock">
      <button
        type="button"
        class="btn btn-primary"
        (click)="this.saveChanges(modal)"
      >
        Save changes
      </button>
    </div>
    <div>
      <ng-template #elseBlock>
        <button type="submit" class="btn btn-primary" disabled>
          Save changes
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Add Pokemon
</button>
